<div class="container">
  <form (ngSubmit)="addTask()" class="container__form">
    <mat-form-field >
      <mat-label>Titulo</mat-label>
      <input
        matInput
        style="color: #e0f7fa"
        type="text"
        name="title"
        [(ngModel)]="title"
        placeholder=""
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea 
        matInput
        name="description"
        [(ngModel)]="description"
        placeholder=""
      ></textarea>
    </mat-form-field>
    <section>
      <section>
        <div class="btn-add">
          <button 
            mat-raised-button
            type="submit"  
          >
            Add Task
          </button>
        </div>
      </section>
    </section>
  </form>
</div>
