
.container{
    display: table;
    width: 100%;

    &__form{
        display: flex;
        align-items: center;
        gap: 15px;
        height: 75px;
        &__btn{
            margin-top: -20px;
        }
    }
}
.btn-add {
    display: table-cell;
    max-width: 600px;
}
